:root {
  --primary: #3d3d3d;
  --primary1: #292929;
  --primary2: #272727;
  --primary3: #202020;
  --primary4: #232323;
  --primary5: #303030;
  --secondary: #e9e9e9;
  --secondary-07: #e9e9e9b2;

  --text: #131313;
  --white-text: #f1f1f1;
  --white-0041:rgba(255, 255, 255, 0.041);
}
