.btn-open-nav {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 35px;
  width: min(70px, 30%);
  background-color: var(--primary4);
  opacity: .9;
  z-index: 2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  svg {
    height: 100%;
    width: 20px;
    color: var(--white);
  }

  &.desactive {
    display: none;
  }
}

.main-nav {
  z-index: 21;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  background-color: var(--primary4);
  padding: .8rem;
  border-radius: .6rem;
  width: 25px;
  height: 25px;
  max-width: 100%;
  max-height: fit-content;
  overflow: hidden;
  transition: .25s all;
  opacity: 1;
  filter: invert(0%);
  box-shadow: 0 0 12px rgba(0, 0, 0, .4);
  height: fit-content;
  z-index: 2;
  width: min(650px, 92svw);
  transform: translateX(-50%);
  transition: none;
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  .container-navs-btn {
    display: flex;
    flex-direction: row;
    gap: .6rem;

    .btn-nav {
      display: flex;
      width: 100%;
      align-items: center;
      color: var(--white-text);
      height: fit-content;
      padding: .5rem;
      border-radius: .4rem;
      background-color: var(--primary);
      font-size: .9rem;
      transition: background-color .25s;
      justify-content: space-between;
      gap: .13rem;

      svg {
        position: relative;
        top: 1px;
      }
    }
  }


  @media (hover: hover) {
    .container-navs-btn {
      .btn-nav:hover {
        background-color: var(--primary2);
        filter: drop-shadow(0px 0px 5px rgba(0,0,0,.2));
      }
    }
  }

  .container-navs-btn {
    .btn-nav:active {
      background-color: var(--primary3);
    }
  }
}

#pages {
  display: none;
  flex-direction: column;
  color: var(--white-text);
  background-color: var(--primary);
  padding: clamp(0.8rem, 0.548rem + 1.613vw, 1.15rem) clamp(0.8rem, 0.548rem + 1.613vw, 1.3rem);
  border-radius: .7rem;
  width: 100%;
  max-height: calc(100svh - 1rem - clamp(0.8rem, 0.548rem + 1.613vw, 1.15rem));
  box-shadow: 0 0 12px rgba(0, 0, 0, .4);
  font-size: .9rem;
  margin-bottom: .6rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary-07);
    padding-bottom: .5rem;

    h1 {
      font-size: .94rem;
      font-weight: 500;
    }

    .btn-close-menu {
      display: flex;
      align-items: center;
      color: var(--white-text);
      height: fit-content;
      padding: .5rem;
      border-radius: .4rem;
      background-color: var(--primary);
      font-size: .9rem;
      font-size: inherit;
      justify-content: space-between;
      gap: .13rem;

      @media (hover: hover) {
        &:hover {
          background-color: var(--primary2);
        }
      }

      &:active {
        background-color: var(--primary3);
      }
    }
  }

  .users-pages {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 100%;
    overflow-y: auto;
    padding-right: .3rem;
    padding-bottom: 1rem;

    &::-webkit-scrollbar {
      width: 7px;
      opacity: .1;
    }

    &::-webkit-scrollbar-track {
      margin-top: 1rem;
      background-color: var(--white-0041);
      border-radius: 1.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary5);
      border-radius: 1rem;
    }

    & > button {
      width: 100%;
      color: var(--white-text);
      font-size: inherit;
      text-align: left;
      padding: .3rem;
      border-radius: .2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .page-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .btn-delete-page {
        display: none;
        justify-content: center;
        align-items: center;

        @media (hover: none) {
          & {
            display: flex;
          }
        }

        &:active {
          svg {
            transform: scale(.9);
          }
        }

        svg {
          height: 100%;
          color: var(--white-text);
        }
      }
    }

    & > button.btn-create-page {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;

      svg {
        height: 100%;
        width: 1.2rem;
      }
    }

    & > button:hover {
      background-color: var(--primary2);

      @media (hover: hover) {
        .btn-delete-page {
          display: flex;
        }
      }
    }

    & > button:active {
      background-color: var(--primary3);
    }
  }
}

#pages.active {
  display: flex;
}
