.main-nav-back-activator {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem;

  @media screen and (max-width: 950px) {
    & {
      right: 0;
      left: unset;
    }

    &.active {
      max-width: 100%;
    }
  }
}

.main-nav {
  z-index: 21;
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: .6rem;
  background-color: var(--primary4);
  padding: .8rem;
  border-radius: .6rem;
  width: 25px;
  height: 25px;
  max-width: 0%;
  max-height: 0%;
  overflow: hidden;
  transition: .25s all;
  opacity: .7;
  filter: invert(50%);
  box-shadow: 0 0 12px rgba(0, 0, 0, .4);

  &.active {
    width: fit-content;
    height: fit-content;
    max-width: 20%;
    max-height: 30%;
    opacity: 1;
    filter: invert(0%);
    .btn-nav {
      display: flex;
    }
  }

  @media screen and (max-width: 950px) {
    & {
      top: 1.4rem;
      right: 1rem;
      left: unset;

    }

    &.active {
      max-width: 100%;
    }
  }

  @media screen and (max-height: 600px) {
    &.active {
      max-height: 30%;
    }

    @media screen and (min-width: 1050px) {
      &.active {
        max-height: 50%;
      }
    }
  }

  @media screen and (max-height: 400px) {
    &.active {
      max-height: 100%;
    }
  }

  &.desactive {
    display: none;
  }

  .btn-nav {
    display: none;
    align-items: center;
    color: var(--white-text);
    height: fit-content;
    padding: .5rem;
    border-radius: .4rem;
    background-color: var(--primary);
    font-size: .9rem;
    transition: background-color .25s;
    justify-content: space-between;
    gap: .13rem;

    svg {
      position: relative;
      top: 1px;
    }
  }

  @media (hover: hover) {
    .btn-nav:hover {
      background-color: var(--primary2);
      filter: drop-shadow(0px 0px 5px rgba(0,0,0,.2));
    }
  }

  .btn-nav:active {
    background-color: var(--primary3);
  }
}

#pages {
  flex: .5;
  color: var(--white-text);
  background-color: var(--primary);
  position: sticky;
  top: 1rem;
  z-index: 20;
  padding: clamp(0.8rem, 0.548rem + 1.613vw, 1.15rem) clamp(0.8rem, 0.548rem + 1.613vw, 1.3rem);
  display: none;
  flex-direction: column;
  border-radius: .7rem;
  min-width: 300px;
  max-width: 360px;
  max-height: calc(100svh - 1rem - clamp(0.8rem, 0.548rem + 1.613vw, 1.15rem));
  box-shadow: 0 0 12px rgba(0, 0, 0, .4);
  font-size: .9rem;

  @media screen and (max-width: 1050px) {
    position: fixed;
    top: 1rem;
    left: 1rem;
    min-height: 300px;
  }

  @media screen and (max-width: 950px) {
    right: 1rem;
    left: unset;
  }

  @media screen and (max-width: 555px) {
    width: calc(100% - 1rem - clamp(0.8rem, 0.548rem + 1.613vw, 1.15rem));
    max-width: 100%;
    max-height: max(200px, 50vh);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary-07);
    padding-bottom: .5rem;

    h1 {
      font-size: .94rem;
      font-weight: 500;
    }

    .btn-close-menu {
      display: flex;
      align-items: center;
      color: var(--white-text);
      height: fit-content;
      padding: .5rem;
      border-radius: .4rem;
      background-color: var(--primary);
      font-size: .9rem;
      font-size: inherit;
      justify-content: space-between;
      gap: .13rem;

      @media (hover: hover) {
        &:hover {
          background-color: var(--primary2);
        }
      }

      &:active {
        background-color: var(--primary3);
      }
    }
  }

  .users-pages {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 100%;
    overflow-y: auto;
    padding-right: .3rem;
    padding-bottom: 1rem;

    &::-webkit-scrollbar {
      width: 7px;
      opacity: .1;
    }

    &::-webkit-scrollbar-track {
      margin-top: 1rem;
      background-color: var(--white-0041);
      border-radius: 1.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary5);
      border-radius: 1rem;
    }

    button {
      width: 100%;
      color: var(--white-text);
      font-size: inherit;
      text-align: left;
      padding: .3rem;
      border-radius: .2rem;
    }

    button.btn-create-page {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;

      svg {
        height: 100%;
        width: 1.2rem;
      }
    }

    button:hover {
      background-color: var(--primary2);
    }

    button:active {
      background-color: var(--primary3);
    }
  }
}

#pages.active {
  display: flex;
  animation: increaseToRight .15s;
}

@keyframes increaseToRight {
  from {
    opacity: 0;
    filter: brightness(0%) ;
  }
  to {
    opacity: 1;
    filter: brightness(100%);
  }
}
